body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 20px;
}

.label-container {
    width: 100mm; /* For consistency in printing, setting width in mm */
    height: 40mm; /* 4cm */
    border: 1px solid lightgray;
    padding: 10px;
    margin: 10px;
    page-break-inside: avoid;
    position: relative;
    box-sizing: border-box;
}

.label-header {
    text-align: center;
}

.logo {
    max-width: 30%;
    height: auto;
}

.label-content {
    text-align: center;
}

.label-content h2 {
    margin: 5px 0;
}

.label-content p {
    margin: 5px 0;
}

.label-content p:last-of-type {
    text-size: 80%;
    text-align: right;
    margin: 2px 0;
}

.form-container {
    width: 300px;
    border: 1px solid lightgray;
    padding: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
}

input[type="text"],
textarea,
input[type="date"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    box-sizing: border-box;
}

button {
    margin-top: 20px;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.delete-button {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
    padding: 5px;
}

/* Print-specific styles */
@media print {
    .form-container,
    .delete-button,
    button {
        display: none;
    }

    .label-container {
        border: 1px solid gray; /* Ensure border is visible in grayscale */
    }
}
